/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTENT */

body {
    background-color: rgba(103, 141, 255, 0.733);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.container {
    text-align: center;
    margin-top: 30vh;
}

div.bg-color {
    background-color: antiquewhite;
    padding: 8rem;
}

h1 {
    font-weight: bold;
    padding-bottom: 2rem;
}

div#total-price {
    font-size: 1.5rem;
    background-color: rgba(187, 172, 150, 0.705);
    padding: 1rem;
}

div.bg-color:hover {
    padding: 10rem;
}

div.bg-color:hover div#total-price {
    color: rgb(201, 5, 5);
    font-size: 2rem;
}